*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}

/* nav start */
.first-nav {
    margin: 0;
    width: 100%;
    height: 20px;
    /* position: fixed; */
    font-size: 11px;
    background-color: #eee;
    font-weight: 400;
    justify-content: space-around;
    
}

.left-first-nav>p , .left-middle-nav>p{
    margin: auto;
    margin-left: 20px;
}
.right-first-nav>p , .right-middle-nav>p{
    margin: auto;
    margin-left: 20px;
}
.pointer:hover{
    cursor: pointer;
}
.middle-nav{
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 13px;
}
.middle-nav img{
    height: 50;
}
.middle-nav{
    /* position: relative; */
    height: 50px;
}
/* nav end */


.box{
    width: 1000px;
    height: 800px;
    border: solid 1px #e4f0f6;
    
    margin: auto;
    
}
.childbox{
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}
.childbox>#signUpForm>input{
    width: 400px;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #e4f0f6;
    transition: 500ms ease all; 
}
.childbox>button{
    width: 400px;
    height: 30px;
    margin-top: 20px;
}
.childbox>input:focus{
    outline: none;
    box-shadow: 0 2px 0 0 #e4f0f6;
    border-color: #e4f0f6;
}
.childbox>h1{
    margin-bottom: 30px;
}

