* {
  margin: 0;
}

.no-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.no-item > img + p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.no-item > img {
  margin: auto;
  width: 150px;
}

#continuetohome {
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  color: #51cccc;
  text-decoration: none;
  margin-bottom: 20px;
}

.category {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.category > p:first-child {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#resp-table {
  display: table;
}

#resp-table-body {
  display: table-row-group;
}

.resp-table-row {
  display: table-row;
}

.table-body-cell {
  display: table-cell;
  padding: 0px 20px;
}

.table-body-cell:first-of-type ~ .table-body-cell {
  text-decoration: underline !important;
  color: #51cccc;
}
